h3 {
  background-color: #a8bdd3;
  color: rgb(228, 32, 32);
  padding: 10px 20px;
  width: 70%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  background-color: #a8bdd3;
  color: rgb(228, 32, 32);
  font-weight: bold;
  font-size: 20px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  right: 0;

  float: left;
}
