<h3>Shipping Options & Prices</h3>
<br />
<p>Choose one of the options Below:</p>
<br />
<br />

<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
  <div
    class="shipping-item"
    (click)="selectShipping(shipping.type, shipping.price)"
  >
    <span>{{ shipping.type }}</span>
    <span>{{ shipping.price | currency }}</span>
  </div>
  <br />
  <br />
</div>
<div class="selected-shipping">
  <p>Selected Shipping Option: {{ selectedShipping }}</p>
</div>

<button class="button" type="button" onclick="window.location.href='/home'">
  Checkout
</button>
